
.env
.env.local
*.pem
secrets.json

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
Pipfile.lock
poetry.lock

*.sqlite3
*.db


node_modules/
dist/
build/
.npm/

uploads/
media/
*.obj
*.gltf
*.glb
*.mp4
*.png
*.jpg
*.jpeg


.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
